<div class="padding-bottom-45">
  <div class="modal-header">
    <div class="modal-title">{{title}}</div>
  </div>
  <form nz-form [formGroup]="form" #validateForm="ngForm" (ngSubmit)="save()" *ngIf="contractDetail">
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="7" [nzXs]="24" nzRequired>{{contractType==1?'项目明细名称':'采购明细名称'}}</nz-form-label>
      <nz-form-control [nzSm]="17" nzHasFeedback>
        <nz-select formControlName="refDetailId" [nzPlaceHolder]="contractType==1?'请选择项目名称':'请选择采购名称'"
          [(ngModel)]="contractDetail.refDetailId" [nzShowSearch]="true" style="width:100%;">
          <nz-option *ngFor="let i of refDetailList" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="(form.get('refDetailId')?.dirty && form.get('refDetailId')?.errors)
          ">{{contractType==1?'请选择项目明细名称':'请选择采购明细名称'}}
        </nz-form-explain>
        <!-- <nz-alert nzType="info" nzMessage="合同分类为销项时为项目明细名称,为进项时为采购明细名称" nzShowIcon></nz-alert> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="7" [nzXs]="24">交货日期</nz-form-label>
      <nz-form-control [nzSm]="17" nzHasFeedback>
        <nz-date-picker placeholder="请选择交货日期" formControlName="deliveryDate" [(ngModel)]="contractDetail.deliveryDate">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
      <button nz-button type="button" [disabled]="saving" (click)="close()">
        {{l("Cancel")}}
      </button>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
        保存
      </button>
    </div>
  </form>
</div>
