<nz-card [nzBordered]="false" nzTitle="回款计划" class="mb-lg">
  <form nz-form [nzLayout]="'inline'" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col [nzSpan]="24" [class.text-right]="true">
        <button nz-button (click)="create()" nzType="primary">
          <i class="anticon anticon-plus"></i>
          <span>新建</span>
        </button>
      </div>
    </div>
  </form>
  <nz-table #nzTable [nzData]="query.data" [nzFrontPagination]="false" [nzTotal]="query.total"
    [nzLoading]="projectDetailLoading" [nzShowTotal]="'true'" [nzShowSizeChanger]="true" [nzShowPagination]="false">
    <thead nz-thead>
      <tr>
        <th nz-th style="text-align: center">
          <span>计划时间</span>
        </th>
        <th nz-th style="text-align: right">
          <span>回款金额(元)</span>
        </th>
        <th nz-th style="text-align: center">
          <span>回款状态</span>
        </th>
        <th nz-th>
          <span>回款描述</span>
        </th>
        <th nz-th style="text-align: center">
          <span>回款时间</span>
        </th>
        <th nz-th style="text-align: center">
          <span>操作</span>
        </th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let item of nzTable.data">
        <td nz-td style="text-align: center">{{item.planTime | date:'yyyy-MM-dd'}}</td>
        <td nz-td style="text-align:right">{{item.amount}}</td>
        <td nz-td style="text-align:center">
          <nz-switch [(ngModel)]="item.status" (click)="updateIsWinbid(item)" nzCheckedChildren="已回款"
            nzUnCheckedChildren="未回款"></nz-switch>
        </td>
        <td nz-td>{{item.desc}}</td>
        <td nz-td style="text-align: center">{{item.paymentTime | date:'yyyy-MM-dd'}}</td>
        <td nz-td style="text-align: center">
          <a (click)="editDing(item.id)">编辑</a>
          <span nz-table-divider></span>
          <nz-divider nzType="vertical"></nz-divider>
          <a style="color:#ff4d4f;" (click)="delete(item)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>