<page-header [title]="">
  <sv-container size="small" col="2">
    <!-- <sv label="供应商类型">{{supplier.typeName}}</sv> -->
    <sv label="供应商名称">{{supplier.name}}</sv>
    <sv label="供应商地址">{{supplier.address}}</sv>
    <sv label="邮编">{{supplier.zipCode}}</sv>
    <sv label="电话">{{supplier.tel}}</sv>
    <sv label="联系人">{{supplier.contact}}</sv>
    <sv label="联系人职位">{{supplier.position}}</sv>
    <sv label="联系人电话">{{supplier.phone}}</sv>
    <sv label="描述,经营范围">{{supplier.desc}}</sv>
    <sv label="备注">{{supplier.remark}}</sv>
  </sv-container>
</page-header>
<nz-card nzTitle="附件">
  <div nz-card-grid [ngStyle]="{width: '25%',textAlign: 'center'}" *ngFor="let item of attachments"><a
      href="{{item.fileUrl | hostUrl}}" target="_blank">{{item.fileName}}</a></div>
</nz-card>
<nz-card [nzBordered]="false" nzTitle="采购产品明细" class="mb-lg">
  <ng-template #totalContentMe>共{{query.total}}条</ng-template>
  <nz-table #nzTable [nzData]="query.data" [nzFrontPagination]="false" [nzTotal]="query.total"
    [(nzPageIndex)]="query.pageIndex" [(nzPageSize)]="query.pageSize" [nzLoading]="loading"
    [nzShowTotal]="totalContentMe" [nzShowTotal]="'true'" [nzShowSizeChanger]="true"
    (nzPageIndexChange)="getPurchaseProducts()" (nzPageSizeChange)="getPurchaseProducts()">
    <thead nz-thead>
      <tr>
        <th nz-th>
          <span>采购编号</span>
        </th>
        <th nz-th>
          <span>采购产品名称</span>
        </th>
        <th nz-th>
          <span>规格型号</span>
        </th>
        <th nz-th>
          <span>采购日期</span>
        </th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let item of nzTable.data">
        <td nz-td><a [routerLink]="['/app/pm/purchase']" [queryParams]="{id:item.purchaseId}">{{item.purchaseCode}}</a>
        </td>
        <td nz-td>{{item.purchaseName}}</td>
        <td nz-td>{{item.specification}}
        </td>
        <td nz-td>{{item.purchaseDate | date:'yyyy-MM-dd'}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<footer-toolbar>
  <button nz-button [nzType]="'default'" (click)="return()">
    返回
  </button>
</footer-toolbar>