<page-header [title]="title" [action]="action">
  <sv-container size="small" col="2">
    <!-- <sv label="采购编码">{{purchase.code}}</sv> -->
    <sv label="项目名称">{{purchase.projectName}}</sv>
    <sv label="采购分类">{{purchase.typeName}}</sv>
    <sv label="采购负责人">{{purchase.employeeName}}</sv>
    <sv label="采购日期">{{purchase.purchaseDate | date:'yyyy-MM-dd'}}</sv>
    <sv label="采购描述">{{purchase.desc}}</sv>
  </sv-container>
</page-header>
<nz-card [nzBordered]="false" nzTitle="采购明细" class="mb-lg">
  <div nz-row class="mb-md">
    <div nz-col [nzSpan]="6">
      <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="supplierId">供应商</nz-form-label>
      <nz-form-control [nzSm]="16">
        <nz-select name="supplierId" style="width: 100%;" [(ngModel)]="search.supplierId" nzPlaceHolder="请选择供应商">
          <nz-option *ngFor="let i of supplierList" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </div>
    <div nz-col [nzSpan]="18" class="mb-md" style="text-align: right">
      <button nz-button (click)="getPurchaseDetails()" [nzLoading]="loading" nzType="primary">
        查询
      </button>
      <button nz-button type="reset" (click)="refresh()" class="mx-sm">重置</button>
      <button nz-button (click)="create()" nzType="primary">
        <i class="anticon anticon-plus"></i>
        <span>新建</span>
      </button>
    </div>
  </div>
  <ng-template #totalContentMe>共{{query.total}}条</ng-template>
  <nz-table #nzPurchaseDetailTable [nzData]="query.dataList" [nzFrontPagination]="false" [nzTotal]="query.total"
    [(nzPageIndex)]="query.pageIndex" [(nzPageSize)]="query.pageSize" [nzLoading]="tableLoading"
    [nzShowTotal]="totalContentMe" [nzShowTotal]="'true'" [nzShowSizeChanger]="true"
    (nzPageIndexChange)="getPurchaseDetails()" (nzPageSizeChange)="getPurchaseDetails()">
    <thead nz-thead>
      <tr>
        <th nz-th>
          <span>供应商名称</span>
        </th>
        <th nz-th>
          <span>采购单价</span>
        </th>
        <th nz-th>
          <span>项目明细</span>
        </th>
        <th nz-th>
          <span>操作</span>
        </th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let item of nzPurchaseDetailTable.data">
        <td nz-td>{{item.supplierName}}</td>
        <td nz-td>{{item.price}}</td>
        <td nz-td>{{item.projectDetailName}}</td>
        <td nz-td>
          <a (click)="editDing(item.id)">编辑</a>
          <span nz-table-divider></span>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(item)">删除</a>
          <span nz-table-divider></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-card [nzBordered]="false">
  <nz-card-tab>
    <nz-tabset nzSize="large" (nzSelectChange)="change($event)">
      <nz-tab nzTitle="合同">
        <ng-template #totalContentMe>共{{queryOne.total}}条</ng-template>
        <nz-table #nzContractTable [nzData]="queryOne.dataList" [nzFrontPagination]="false" [nzTotal]="queryOne.total"
          [(nzPageIndex)]="queryOne.pageIndex" [(nzPageSize)]="queryOne.pageSize" [nzLoading]="tableLoading"
          [nzShowTotal]="totalContentMe" [nzShowTotal]="'true'" [nzShowSizeChanger]="true"
          (nzPageIndexChange)="getContractDetails()" (nzPageSizeChange)="getContractDetails()">
          <thead nz-thead>
            <tr>
              <th nz-th>
                <span>合同分类</span>
              </th>
              <th nz-th>
                <span>合同编号</span>
              </th>
              <th nz-th>
                <span>名称</span>
              </th>
              <th nz-th>
                <span>签订日期</span>
              </th>
              <th nz-th>
                <span>合同金额</span>
              </th>
              <th nz-th>
                <span>操作</span>
              </th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let item of nzContractTable.data">
              <td nz-td>{{item.typeName}}</td>
              <td nz-td>{{item.contractCode}}</td>
              <td nz-td title="item.refName">{{item.refName | lengthLimit:15}}
              </td>
              <td nz-td>{{item.signatureTime | date:'yyyy-MM-dd'}}</td>
              <td nz-td>{{item.amount}}</td>
              <td nz-td>
                <a (click)="contractDetail(item.id)">详情</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="发票">
        <ng-template #totalContentMe>共{{queryOne.total}}条</ng-template>
        <nz-table #nzInvoiceTable [nzData]="queryOne.dataList" [nzFrontPagination]="false" [nzTotal]="queryOne.total"
          [(nzPageIndex)]="queryOne.pageIndex" [(nzPageSize)]="queryOne.pageSize" [nzLoading]="tableLoading"
          [nzShowTotal]="totalContentMe" [nzShowTotal]="'true'" [nzShowSizeChanger]="true"
          (nzPageIndexChange)="getInvoiceList()" (nzPageSizeChange)="getInvoiceList()">
          <thead nz-thead>
            <tr>
              <th nz-th>
                <span>发票抬头</span>
              </th>
              <th nz-th>
                <span>发票号</span>
              </th>
              <th nz-th>
                <span>发票金额</span>
              </th>
              <th nz-th>
                <span>开票日期</span>
              </th>
              <th nz-th>
                <span>操作</span>
              </th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let item of nzInvoiceTable.data">
              <td nz-td>{{item.title}}</td>
              <td nz-td>{{item.code}}</td>
              <td nz-td>{{item.amount}}</td>
              <td nz-td>{{item.submitDate | date:'yyyy-MM-dd'}}</td>
              <td nz-td>
                <a (click)="invoiceDetail(item.id)">详情</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-card-tab>
  <footer-toolbar>
    <button nz-button [nzType]="'default'" (click)="return()">
      返回
    </button>
  </footer-toolbar>
</nz-card>