<div class="padding-bottom-45">
  <div class="modal-header">
    <div class="modal-title">{{title}}</div>
  </div>
  <form nz-form [formGroup]="form" #validateForm="ngForm" (ngSubmit)="save()" *ngIf="purchaseDetail">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>供应商</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="supplierId" [nzPlaceHolder]="'请选择供应商'" [(ngModel)]="purchaseDetail.supplierId"
              [nzShowSearch]="true" style="width:100%;" (ngModelChange)="supplierSelect($event)">
              <nz-option *ngFor="let i of supplierList" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="(form.get('supplierId')?.dirty && form.get('supplierId')?.errors)
        ">请选择供应商
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>产品</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <button nz-button type="button" [nzType]="'primary'" (click)="productSelection()"
              [disabled]="saving">选择已有产品</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="purchaseDetail.productId">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>名称</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <input nz-input formControlName="name" placeholder="请输入采购名称" readonly [(ngModel)]="purchaseDetail.name" />
            <nz-form-explain *ngIf="(form.get('name')?.dirty && form.get('name')?.errors)
            ">请输入采购产品名称且不能超过100个字符串
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>规格型号</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <input nz-input formControlName="specification" placeholder="请输入规格型号" readonly
              [(ngModel)]="purchaseDetail.specification" />
            <nz-form-explain *ngIf="(form.get('specification')?.dirty && form.get('specification')?.errors)
                ">请输入规格型号且不能超过100个字符串
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="!purchaseDetail.productId">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>名称</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <input nz-input formControlName="name" placeholder="请输入采购名称" [(ngModel)]="purchaseDetail.name" />
            <nz-form-explain *ngIf="(form.get('name')?.dirty && form.get('name')?.errors)
          ">请输入采购产品名称且不能超过100个字符串
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>规格型号</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <input nz-input formControlName="specification" placeholder="请输入规格型号"
              [(ngModel)]="purchaseDetail.specification" />
            <nz-form-explain *ngIf="(form.get('specification')?.dirty && form.get('specification')?.errors)
              ">请输入规格型号且不能超过100个字符串
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>数量</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <nz-input-number formControlName="num" style="width:100%" [nzMax]="99999999" [nzMin]="0" [nzPrecision]='0'
              placeholder="采购数量" [(ngModel)]="purchaseDetail.num" (ngModelChange)="taxRateSelect()"></nz-input-number>
            <nz-form-explain *ngIf="(form.get('num')?.dirty && form.get('num')?.errors)
            ">数量不 能为空
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>单价</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <nz-input-number formControlName="price" style="width:100%" [nzPrecision]='2' placeholder="请输入采购单价"
              [nzDisabled]="isInput" [(ngModel)]="purchaseDetail.price"></nz-input-number>
            <nz-form-explain *ngIf="(form.get('price')?.dirty && form.get('price')?.errors)
                ">单价不能为空
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>税率</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="taxRate" [nzPlaceHolder]="'请选择税率'" [(ngModel)]="purchaseDetail.taxRate"
              [nzDisabled]="isInput" [nzShowSearch]="true" style="width:100%;" (ngModelChange)="taxRateSelect()">
              <nz-option *ngFor="let i of taxRates" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="(form.get('taxRate')?.dirty && form.get('taxRate')?.errors)
                  ">税率不能为空
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>金额</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <nz-input-number formControlName="amount" style="width:100%" [nzDisabled]="true" [nzMin]="0"
              [nzPrecision]='2' placeholder="金额" [ngModel]="amount"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>税额</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <nz-input-number formControlName="taxAmount" style="width:100%" [nzMin]="0" [nzDisabled]="true"
              [nzPrecision]='2' placeholder="金额" [ngModel]="taxAmount">
            </nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>合计</nz-form-label>
          <nz-form-control [nzSpan]="18" class="controlPadding" nzHasFeedback>
            <nz-input-number formControlName="totalAmount" style="width:100%" [nzDisabled]="true" [nzMin]="0"
              [nzPrecision]='2' placeholder="合计" [ngModel]="totalAmount">
            </nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="modal-footer">
      <button nz-button type="button" [disabled]="saving" (click)="close()">
        {{l("取消")}}
      </button>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
        保存
      </button>
    </div>
  </form>
</div>
