<!--component html goes here -->
<form nz-form #validateForm="ngForm" (ngSubmit)="save(false)" *ngIf="news">
    <nz-card nzTitle="咨讯详情" class="info_card_margin">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="16">
                <!-- 发布状态 -->
                <nz-form-item nz-row>
                    <nz-form-label [nzSm]="4" nz-col nzFor="pushStatusName">发布状态</nz-form-label>
                    <nz-form-control [nzSm]="20" nz-col nzHasFeedback class="text-magenta">
                        {{news.pushStatusName}}
                    </nz-form-control>
                </nz-form-item>

                <!-- 发布时间 -->
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzFor="pushTime">发布时间</nz-form-label>
                    <nz-form-control nz-col [nzSm]="20" nzHasFeedback>
                        {{news.pushTime|_date}}
                    </nz-form-control>
                </nz-form-item>

                <!-- 标题 -->
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired nzFor="title">标题</nz-form-label>
                    <nz-form-control nz-col [nzSm]="20" nzHasFeedback>
                        <input nz-input name="title" #title="ngModel" [(ngModel)]="news.title" [placeholder]="'标题'"
                            required>
                        <nz-form-explain *ngIf="title.control.dirty&&title.control.errors">
                            <ng-container *ngIf="title.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <!-- 作者 -->
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired nzFor="author">作者</nz-form-label>
                    <nz-form-control nz-col [nzSm]="20" nzHasFeedback>
                        <input nz-input name="author" #author="ngModel" [(ngModel)]="news.author" [placeholder]="'作者'"
                            autocomplete="author" required>
                        <nz-form-explain *ngIf="author.control.dirty&&author.control.errors">
                            <ng-container *ngIf="author.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <!-- 资讯分类 -->
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzFor="type">资讯分类</nz-form-label>
                    <nz-form-control nz-col [nzSm]="20" nzHasFeedback>
                        <nz-select name="type" #type="ngModel" [(ngModel)]="news.type" autocomplete="type">
                            <nz-option *ngFor="let i of newsTypes" [nzLabel]="i.text" [nzValue]="i.value">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <!-- 封面图片 -->
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired nzFor="coverPhoto">封面图片</nz-form-label>
                    <nz-form-control nz-col [nzSm]="20">
                        <nz-upload class="avatar-uploader" nzAction="{{actionUrl}}" [nzName]="'image'"
                            [nzShowUploadList]="false" (nzChange)="handleChange($event)">
                            <i *ngIf="!news.coverPhoto" class="anticon anticon-plus avatar-uploader-trigger"></i>
                            <img *ngIf="news.coverPhoto" [src]="news.coverPhoto|hostUrl" class="avatar" [width]="200"
                                [height]="200">
                        </nz-upload>
                    </nz-form-control>
                </nz-form-item>

                <!-- 活动内容 -->
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired nzFor="coverPhoto">活动内容</nz-form-label>
                    <nz-form-control nz-col [nzSm]="20">
                        <textarea nz-input name="content" #content="ngModel" [(ngModel)]="news.content" [placeholder]="'活动内容'"
                            nzAutosize maxlength="500" autocomplete="content" required></textarea>
                        <nz-form-explain *ngIf="content.control.dirty&&content.control.errors">
                            <ng-container *ngIf="content.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                            <ng-container *ngIf="content.control.hasError('maxlength')">{{l('MaxLength')}}</ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <!-- 连接类型 -->
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired nzFor="linkType">连接类型</nz-form-label>
                    <nz-form-control nz-col [nzSm]="20" nzHasFeedback>
                        <nz-radio-group name="linkType" #linkType="ngModel" [(ngModel)]="news.linkType" autocomplete="linkType">
                            <label nz-radio *ngFor="let o of linkTypes" [nzValue]="o.value">
                                <span>{{o.text}}</span>
                            </label>
                        </nz-radio-group>
                        <nz-form-explain *ngIf="linkType.control.dirty&&linkType.control.errors">
                            <ng-container *ngIf="linkType.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <!--连接地址 -->
                <nz-form-item nz-row>
                    <nz-form-label nz-col [nzSm]="4" nzRequired nzFor="linkAddress">连接地址</nz-form-label>
                    <nz-form-control nz-col [nzSm]="20" nzHasFeedback>
                        <input nz-input name="linkAddress" #linkAddress="ngModel" [(ngModel)]="news.linkAddress"
                            [placeholder]="'连接地址'" autocomplete="linkAddress" required>
                        <nz-form-explain *ngIf="linkAddress.control.dirty&&linkAddress.control.errors">
                            <ng-container *ngIf="linkAddress.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>


                <!-- 功能按钮 -->
                <footer-toolbar>
                    <button nz-button type="button" [disabled]="saving" (click)="return()">
                        {{l("返回")}}
                    </button>
                    <button nz-button *ngIf="isDelete" type="button" [nzType]="'danger'" (click)="delete()" [nzLoading]="isConfirmLoadingDe">
                        {{l("删除")}}
                    </button>
                    <button nz-button *ngIf="isPush" [nzType]="'primary'" type="button" (click)="push()" [nzLoading]="isConfirmLoadingPu">
                        {{l("发布")}}
                    </button>
                    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving"
                        [nzLoading]="isConfirmLoadingSa">
                        {{l("保存")}}
                    </button>
                </footer-toolbar>
            </div>
        </div>
    </nz-card>
</form>