<page-header [title]="''"></page-header>

<nz-card>
    <div nz-row>
        <div nz-col nzSpan="6">
            <category (modalSelect)="getNodeKey($event)"></category>
        </div>
        <div nz-col nzSpan="18">
            <div nz-row class="mb-md">
                <div nz-col nzSpan="18" style="padding-right:10px;">
                    <nz-input-group nzSearch [nzSuffix]="suffixButton">
                        <input type="text" [(ngModel)]="keyWord" nz-input placeholder="商品条码或名称">
                    </nz-input-group>
                    <ng-template #suffixButton>
                        <button nz-button nzType="primary" [nzLoading]="isTableLoading" (click)="refreshData()"
                            nzSearch>搜索</button>
                    </ng-template>
                </div>
                <div nz-col nzSpan="6" style="text-align:right;">
                    <button nz-button (click)="resetSearch()" nzShape="circle" nz-tooltip nzPlacement="top" nzTitle="刷新">
                        <i class="anticon anticon-reload"></i>
                    </button>
                    <button nz-button (click)="goCreate()" nzShape="circle" nzType="primary" nz-tooltip nzPlacement="top"
                        nzTitle="新增">
                        <i class="anticon anticon-plus"></i>
                    </button>
                </div>
            </div>
            <ng-template #totalTemplate let-total>共 {{totalItems}} 条</ng-template>
            <nz-table #nzTable [nzData]="dataList" [nzFrontPagination]="false" [nzTotal]="totalItems" [nzShowTotal]="totalTemplate"
                [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" [nzShowSizeChanger]="true"
                (nzPageIndexChange)="refresh()" (nzPageSizeChange)="refresh()">
                <thead>
                    <tr>
                        <th>商品图片</th>
                        <th>商品名称</th>
                        <th>单位</th>
                        <!-- <th>兑换方式</th> -->
                        <th>分类</th>
                        <!-- <th>库存</th> -->
                        <th>所需积分</th>
                        <th>销量</th>
                        <th>状态</th>
                        <th>上架时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of nzTable.data">
                        <td>
                            <nz-avatar [nzSrc]="(data.showPhotoUrl)" style="width:80px;height: 80px;" (click)="handlePreview(data.showPhotoUrl)"
                                [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                        </td>
                        <td>{{data.specification}}</td>
                        <td>{{data.unit}}</td>
                        <!-- <td>{{data.exchangeCode}}</td> -->
                        <td>{{data.categoryName}}</td>
                        <td>{{data.integral}}</td>
                        <td>{{data.sellCount}}</td>
                        <td>
                            <nz-badge *ngIf="data.isAction" [nzStatus]="'success'" [nzText]="'上架'"></nz-badge>
                            <nz-badge *ngIf="!data.isAction" [nzStatus]="'error'" [nzText]="'下架'"></nz-badge>
                        </td>
                        <td>{{data.onlineTime | _date}}</td>
                        <td>
                            <a (click)="goDetail(data.id)">详情</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</nz-card>
<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
    <ng-template #modalContent>
        <img [src]="(previewImage)" [ngStyle]="{ 'width': '100%' }" />
    </ng-template>
</nz-modal>