.labelPadding {
  padding-right: 0px !important;
}

.controlPadding {
  padding-left: 0px !important;
}

.remarkLabelPadding {
  padding-right: 0px !important;
  margin-left: 30PX
}

.remarkcontrolPadding {
  padding-left: 0px !important;
  padding-right: 40px !important
}

.ant-calendar-picker {
  width: 100% !important;
}

.ant-layout-content {
  margin-left: 0px !important;
  margin-right: 0px !important;
}


:host {
  ::ng-deep {
    .ant-list-header {
      font-size: 16px !important;
      color: rgba(0, 0, 0, 0.85) !important;
      font-weight: 500 !important;
    }
  }
}
