<div class="padding-bottom-45">


  <div class="modal-header">
    <div class="modal-title">{{l('CreateNewUser')}}</div>
  </div>


  <form nz-form #validateForm="ngForm" (ngSubmit)="save()" *ngIf="user">
    <nz-tabset>
      <nz-tab [nzTitle]="l('UserDetails')">
        <!-- 用户账号 -->
        <nz-form-item>
          <nz-form-control nzHasFeedback>
            <input nz-input name="userName" #userName="ngModel" [(ngModel)]="user.userName" [placeholder]="'用户账号'"
              required>
            <nz-form-explain *ngIf="userName.control.dirty&&userName.control.errors">
              <ng-container *ngIf="userName.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <!-- 名 / 姓名 -->
        <nz-form-item>
          <nz-form-control nzHasFeedback>
            <input nz-input name="name" #name="ngModel" [(ngModel)]="user.name" [placeholder]="'用户姓名'" autocomplete="name"
              required>
            <nz-form-explain *ngIf="name.control.dirty&&name.control.errors">
              <ng-container *ngIf="name.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
            </nz-form-explain>
          </nz-form-control>
          <!--<nz-col [nzSpan]="12">
            <nz-form-control nzHasFeedback>
              <input nz-input name="surname" #surname="ngModel" [(ngModel)]="user.surname" [placeholder]="l('Surname')"
                required>
              <nz-form-explain *ngIf="surname.control.dirty&&surname.control.errors">
                <ng-container *ngIf="surname.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-col>-->
        </nz-form-item>

        <!-- 邮箱 -->
        <nz-form-item>
          <nz-form-control nzHasFeedback>
            <input nz-input name="emailAddress" #emailAddress="ngModel" [(ngModel)]="user.emailAddress" [placeholder]="l('EmailAddress')"
              autocomplete="email" required email>
            <nz-form-explain *ngIf="emailAddress.control.dirty&&emailAddress.control.errors">
              <ng-container *ngIf="emailAddress.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
              <ng-container *ngIf="emailAddress.control.hasError('email')">邮箱格式不对</ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <!-- 密码 -->
        <nz-form-item>
          <nz-form-control nzHasFeedback>
            <input nz-input name="password" #password="ngModel" [(ngModel)]="user.password" [placeholder]="l('Password')"
              type="password" autocomplete="current-password" validateEqual="confirmPassword" reverse="true" required
              minlength="6" maxlength="32">
            <nz-form-explain *ngIf="password.control.dirty&&password.control.errors">
              <ng-container *ngIf="password.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
              <ng-container *ngIf="password.control.hasError('minlength')">长度需大于等于6</ng-container>
              <ng-container *ngIf="password.control.hasError('maxlength')">{{l('MaxLength')}}</ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <!-- 确认密码 -->
        <nz-form-item>
          <nz-form-control nzHasFeedback>
            <input nz-input name="confirmPassword" #confirmPassword='ngModel' [(ngModel)]="confirmPasswordInput"
              [placeholder]="l('ConfirmPassword')" type="password" validateEqual="password" reverse="false" minlength="6"
              maxlength="32" autocomplete="current-password" required>
            <nz-form-explain *ngIf="confirmPassword.control.dirty&&confirmPassword.control.errors">
              <ng-container *ngIf="confirmPassword.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
              <ng-container *ngIf="confirmPassword.control.hasError('minlength')">长度需大于等于6</ng-container>
              <ng-container *ngIf="confirmPassword.control.hasError('maxlength')">{{l('MaxLength')}}</ng-container>
              <ng-container *ngIf="confirmPassword.control.hasError('validateEqual')">两次输入的密码不一致</ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <!-- 激活 -->
        <nz-form-item>
          <label nz-checkbox name="isActive" [(ngModel)]="user.isActive">{{l('IsActive')}}</label>
        </nz-form-item>
      </nz-tab>


      <nz-tab [nzTitle]="l('UserRoles')">
        <nz-checkbox-group name="roles" [(ngModel)]="roleList"></nz-checkbox-group>
      </nz-tab>


    </nz-tabset>



    <!-- 功能按钮 -->
    <div class="modal-footer">
      <button nz-button type="button" [disabled]="saving" (click)="close()">
        {{l("Cancel")}}
      </button>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
        保存
      </button>
    </div>

  </form>
</div>