<page-header title="新增采购"></page-header>
<form nz-form [formGroup]="form" #validateForm="ngForm" (ngSubmit)="save()" *ngIf="purchase">
  <nz-card [nzBordered]="false">
    <!-- <ng-template #extraTemplate>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">保存</button>
    </ng-template> -->
    <!-- <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>所属项目</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="projectId" [nzPlaceHolder]="'请选择所属项目'" [nzDisabled]="true"
              [(ngModel)]="purchase.projectId" style="width:100%;">
              <nz-option *ngFor="let i of projectList" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="(form.get('projectId')?.dirty && form.get('projectId')?.errors)
      ">请选择所属项目
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>采购分类</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="type" [nzPlaceHolder]="'请选择采购分类'" [(ngModel)]="purchase.type"
              [nzShowSearch]="true" (ngModelChange)="getPurchaseCode()" style="width:100%;">
              <nz-option *ngFor="let i of purchaseType" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="(form.get('type')?.dirty && form.get('type')?.errors)
      ">请选择采购分类
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> -->
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>采购编号</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <input nz-input formControlName="code" placeholder="请输入采购编号" disabled [(ngModel)]="purchase.code" />
            <nz-form-explain *ngIf="(form.get('code')?.dirty && form.get('code')?.errors)
      ">采购编号不能为空并且不能超过35个字符
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label class="labelPadding" nzRequired="true" [nzSpan]="6">采购负责人</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="employeeId" [nzPlaceHolder]="'请选择采购负责人'" [(ngModel)]="purchase.employeeId"
              [nzShowSearch]="true" style="width:100%;">
              <nz-option *ngFor="let i of employeeList" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" class="labelPadding" nzRequired="true" [nzXs]="24">发票开具</nz-form-label>
          <nz-form-control [nzSm]="12" class="controlPadding" nzHasFeedback>
            <nz-radio-group formControlName="invoiceIssuance" style="width:'70%'"
              [(ngModel)]="purchase.invoiceIssuance">
              <label nz-radio nzValue="true">是</label>
              <label nz-radio nzValue="false">否</label>
            </nz-radio-group>
          </nz-form-control>
          <button nz-button type="button" nzType="primary" (click)="uploadPurchase()" style="margin-top: 5px">
            <i nz-icon type="upload" class="anticon anticon-upload"></i><span>上传文件</span>
          </button>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label class="labelPadding" [nzSpan]="6">采购日期</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-date-picker placeholder="请选择采购日期" formControlName="purchaseDate" [(ngModel)]="purchase.purchaseDate">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label class="labelPadding" [nzSpan]="6">到货日期</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-date-picker placeholder="请选择到货日期" formControlName="arrivalDate" [(ngModel)]="purchase.arrivalDate">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label class="labelPadding" [nzSpan]="6">采购描述</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <textarea nz-input rows="2" formControlName="desc" placeholder="请输入采购描述"
              [(ngModel)]="purchase.desc"></textarea>
            <nz-form-explain *ngIf="(form.get('desc')?.dirty && form.get('desc')?.errors)
    ">备注不能超过250个字符
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-card [nzBordered]="false" style="background-color: #f4f4f4;" class="mb-lg">
      <nz-divider nzText="采购明细"></nz-divider>
      <form nz-form [nzLayout]="'inline'" class="search__form">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col [nzSpan]="24" style="text-align: right">
            <button nz-button (click)="createPurchaseDetail()" nzType="primary">
              <i class="anticon anticon-plus"></i>
              <span>新建</span>
            </button>
          </div>
        </div>
      </form>
      <nz-table #purchaseDetailTable [nzData]="purchaseDetails" [nzFrontPagination]="false" [nzTotal]="total"
        [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzLoading]="loading" [nzShowTotal]="totalContentMe"
        [nzShowTotal]="'true'" [nzShowSizeChanger]="true" [nzShowPagination]="false">
        <thead nz-thead>
          <tr>
            <th nz-th>
              <span>商品名称</span>
            </th>
            <th nz-th>
              <span>供应商名称</span>
            </th>
            <th nz-th>
              <span>规格型号</span>
            </th>
            <th nz-th style="text-align: right">
              <span>数量</span>
            </th>
            <th nz-th style="text-align: right">
              <span>单价(元)</span>
            </th>
            <th nz-th style="text-align: center">
              <span>税率</span>
            </th>
            <th nz-th style="text-align: right">
              <span>金额(元)</span>
            </th>
            <th nz-th style="text-align: right">
              <span>税额(元)</span>
            </th>
            <th nz-th style="text-align: right">
              <span>合计(元)</span>
            </th>
            <th nz-th style="text-align: center">
              <span>操作</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let item of purchaseDetailTable.data; let i = index">
            <td nz-td>{{item.name}}</td>
            <td nz-td>{{item.supplierName}}</td>
            <td nz-td>{{item.specification}}</td>
            <td nz-td style="text-align: right">{{item.num}}</td>
            <td nz-td style="text-align: right">{{item.price}}</td>
            <td nz-td style="text-align: center">{{item.taxRate}}</td>
            <td nz-td style="text-align: right">{{item.amount}}</td>
            <td nz-td style="text-align: right">{{item.taxAmount}}</td>
            <td nz-td style="text-align: right">{{item.totalAmount}}</td>
            <td nz-td style="text-align: center">
              <a (click)="editPurchaseDetail(item,i)">编辑</a>
              <span nz-table-divider></span>
              <nz-divider nzType="vertical"></nz-divider>
              <a style="color:#ff4d4f;" (click)="deleteDetail(item,i)">删除</a>
              <span nz-table-divider></span>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <!-- <button nz-button nzType="dashed" (click)="createPurchaseDetail()" nzBlock class="mt-md">
        <i nz-icon type="plus"></i>
        <span>新增采购明细</span>
      </button> -->
    </nz-card>
    <nz-card [nzBordered]="false" style="background-color: #ffc53d24;">
      <nz-divider nzText="付款"></nz-divider>
      <nz-table #nzTable [nzLoading]="loading" formArrayName="advancePayments" [nzData]="advancePayments.value"
        [nzShowPagination]="false">
        <thead nz-thead>
          <tr>
            <th nz-th style="text-align: center;background-color: #ffc53d24;">计划付款日期</th>
            <th nz-th style="text-align: right;background-color: #ffc53d24;">付款比率(%)</th>
            <th nz-th style="text-align: right;background-color: #ffc53d24;">金额(元)</th>
            <th nz-th style="background-color: #ffc53d24;">付款描述</th>
            <th nz-th style="text-align: center;background-color: #ffc53d24;">付款日期</th>
            <th nz-th style="text-align: center;background-color: #ffc53d24;">付款状态</th>
            <th nz-th style="text-align: center;background-color: #ffc53d24;">操作</th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let item of advancePayments.controls; let i = index" [formGroupName]="i">
            <td nz-td style="text-align: center">
              <span *ngIf="editIndex!==i">{{advancePayments.value[i].planTime | date:'yyyy-MM-dd'}}</span>
              <span *ngIf="editIndex===i" nz-form-control>
                <nz-date-picker [nzStyle]='{width:"100%"}' placeholder="请选择计划付款日期" formControlName="planTime">
                </nz-date-picker>
              </span>
            </td>
            <td nz-td style="text-align: right">
              <span *ngIf="editIndex!==i">{{advancePayments.value[i].ratio}}</span>
              <span *ngIf="editIndex===i" nz-form-control>
                <nz-input-number nz-input formControlName="ratio" [(ngModel)]="advancePaymentRatio"
                  nzMax="99999999999999" nzPrecision="2" placeholder="请输入付款比率">
                </nz-input-number>
              </span>
            </td>
            <td nz-td style="text-align: right">
              <span *ngIf="editIndex!==i">{{advancePayments.value[i].amount}}</span>
              <span *ngIf="editIndex===i" nz-form-control>
                <nz-input-number nz-input formControlName="amount"
                  [ngModel]="purchaseDetailAmount*advancePaymentRatio/100" [nzDisabled]="true" nzMax="99999999999999"
                  nzPrecision="2" placeholder="请输入金额">
                </nz-input-number>
              </span>
            </td>
            <td nz-td>
              <span *ngIf="editIndex!==i">{{advancePayments.value[i].desc}}</span>
              <span *ngIf="editIndex===i" nz-form-control>
                <input nz-input formControlName="desc" placeholder="请输入付款描述">
              </span>
            </td>
            <td nz-td style="text-align: center">
              <span *ngIf="editIndex!==i">{{advancePayments.value[i].paymentTime | date:'yyyy-MM-dd'}}</span>
              <span *ngIf="editIndex===i" nz-form-control>
                <nz-date-picker [nzStyle]='{width:"100%"}' placeholder="请选择付款日期" formControlName="paymentTime">
                </nz-date-picker>
              </span>
            </td>
            <td nz-td style="text-align: center">
              <span *ngIf="editIndex!==i">
                <nz-badge *ngIf="advancePayments.value[i].status==1" [nzStatus]="'success'" [nzText]="'已付款'"></nz-badge>
                <nz-badge *ngIf="advancePayments.value[i].status==0" [nzStatus]="'default'" [nzText]="'未付款'"></nz-badge>
              </span>
              <span *ngIf="editIndex===i" nz-form-control>
                <nz-select style="width: 100%;" formControlName="status" [ngModel]="advancePayments.value[i].status"
                  nzPlaceHolder="请选择付款状态">
                  <nz-option [nzLabel]="'已付款'" [nzValue]="1">
                  </nz-option>
                  <nz-option [nzLabel]="'未付款'" [nzValue]="0">
                  </nz-option>
                </nz-select>
              </span>
            </td>
            <td nz-td style="text-align: center">
              <span *ngIf="editIndex!==i">
                <a (click)="edit(i)">编辑</a>
                <nz-divider nzType="vertical"></nz-divider>
                <nz-popconfirm (nzOnConfirm)="del(i,advancePayments.value[i].id)" [nzTitle]="'是否要删除此行数据？'">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm>
              </span>
              <span *ngIf="editIndex===i">
                <a (click)="saveAdvancePayment(i)">保存</a>
                <nz-divider nzType="vertical"></nz-divider>
                <nz-popconfirm (nzOnConfirm)="cancel(i,advancePayments.value[i].id)" [nzTitle]="'是否要取消操作？'">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm>
              </span>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <button *ngIf="editIndex===-1" nz-button [nzType]="'dashed'" (click)="add()" nzBlock class="mt-md">
        <i nz-icon type="plus"></i>
        <span>新增回款</span>
      </button>
      <!-- <div class="modal-footer">
              <label style="margin-right: 10%;font-weight: bold">总计：{{paymentPlanTotalAmount}}</label>
            </div> -->
    </nz-card>
    <div class="modal-footer">

      <label style="margin-right: 10px">总计：{{purchaseDetailAmount}}</label>
      <button nz-button type="button" [disabled]="saving" (click)="goBack()">
        返回
      </button>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">保存</button>
    </div>

  </nz-card>
</form>
