<div class="padding-bottom-45">
  <div class="modal-header">
    <div class="modal-title">报销明细详情</div>
  </div>
  <sv-container size="small" col="2">
    <sv label="发生日期">{{reimburseDetail.happenDate | date:'yyyy-MM-dd'}}</sv>
    <sv label="报销类型">{{reimburseDetail.type}}</sv>
    <sv label="客户">{{reimburseDetail.customer}}</sv>
    <sv label="费用说明">{{reimburseDetail.desc}}</sv>
    <sv label="金额(元)">{{reimburseDetail.amount}}</sv>
    <sv label="票据张数">{{reimburseDetail.invoiceNum}}</sv>
    <sv label="发生地点">{{reimburseDetail.place}}</sv>
    <sv label="备注">{{reimburseDetail.remark}}</sv>
  </sv-container>
  <nz-card nzTitle="附件" style="margin-top: 20px;">
    <div nz-card-grid [ngStyle]="{width: '50%',textAlign: 'center'}" *ngFor="let item of attachments"><a
        href="{{item.fileUrl | hostUrl}}" target="_blank">{{item.fileName}}</a></div>
  </nz-card>
</div>