<page-header [title]="''"></page-header>
<nz-card>
    <div nz-row>
        <div nz-col [nzSm]="4" [nzSpan]="4">
            <ul nz-menu [nzMode]="'inline'">
                <li *ngFor="let item of newsType" nz-menu-item [nzSelected]="item.selected" (click)="checkChangeLeaf(item)">{{item.text}}</li>
            </ul>
        </div>
        <div nz-col [nzSm]="20" [nzSpan]="20">
            <!-- <ng-template #extraTpl> -->
            <div nz-row>
                <div nz-col [nzOffset]="22" [nzSpan]="2">
                    <button nz-button (click)="refresh()" nzShape="circle">
                        <i class="anticon anticon-reload"></i>
                    </button>
                    <button nz-button (click)="create()" nzShape="circle" nzType="primary">
                        <i class="anticon anticon-plus"></i>
                    </button>
                </div>
            </div>
            <!-- </ng-template> -->
            <ng-template #totalTemplate>共 {{totalItems}} 条</ng-template>
            <nz-table #ajaxTable nzShowSizeChanger [nzData]="dataList" [nzShowTotal]="totalTemplate" [nzTotal]="totalItems"
                [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="refresh()"
                (nzPageSizeChange)="refresh()" [nzFrontPagination]="false">
                <thead>
                    <tr>
                        <th>封面图片</th>
                        <th>标题</th>
                        <th>作者</th>
                        <!-- <th>咨讯分类</th>
                        <th>内容介绍</th> -->
                        <th>发布状态</th>
                        <th>发布时间</th>
                        <!-- <th>连接类型</th>
                        <th>连接地址</th> -->
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ajaxTable.data">
                        <td>
                            <nz-avatar [nzSrc]="(item.showCoverPhoto)" style="width:80px;height: 80px;" (click)="handlePreview(item.showCoverPhoto)"
                                [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                        </td>
                        <td>{{item.title}}</td>
                        <td>{{item.author}}</td>
                        <!-- <td>{{item.typeName}}</td>
                        <td>{{item.content}}</td> -->
                        <td>{{item.pushStatusName}}</td>
                        <td>{{item.pushTime| _date: 'YYYY-MM-DD'}}</td>
                        <!-- <td>{{item.linkTypeName}}</td>
                        <td>{{item.linkAddress}}</td> -->
                        <td>{{item.creationTime| _date: 'YYYY-MM-DD'}}</td>
                        <td>
                            <a (click)="edit(item)">详情</a>
                            <!-- <nz-divider nzType="vertical"></nz-divider> -->
                            <!-- <a (click)="delete(item)">删除</a> -->
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
            <ng-template #modalContent>
                <img [src]="(previewImage)" [ngStyle]="{ 'width': '100%' }" />
            </ng-template>
        </nz-modal>
    </div>
</nz-card>