<page-header [title]="title">
  <sv-container size="small" col="2">
    <sv label="项目/采购名称">{{invoice.refName}}</sv>
    <sv label="发票抬头">{{invoice.title}}</sv>
    <sv label="发票分类">{{invoice.typeName}}</sv>
    <sv label="发票号">{{invoice.code}}</sv>
    <sv label="发票金额(元)">{{invoice.amount}}</sv>
    <sv label="开票日期">{{invoice.submitDate | date:'yyyy-MM-dd'}}</sv>
  </sv-container>
</page-header>
<nz-card nzTitle="附件">
  <div nz-card-grid [ngStyle]="{width: '25%',textAlign: 'center'}" *ngFor="let item of attachments"><a
      href="{{item.fileUrl | hostUrl}}" target="_blank">{{item.fileName}}</a></div>
</nz-card>
<nz-card [nzBordered]="false" nzTitle="发票明细" class="mb-lg">
  <div nz-row class="mb-md">
    <div nz-col class="mb-md" style="text-align: right">
      <button nz-button (click)="create()" nzType="primary">
        <i class="anticon anticon-plus"></i>
        <span>新建</span>
      </button>
    </div>
  </div>
  <st #st [columns]="columns" [data]="query.data" [loading]="loading" [page]="pages" [total]="query.total">
  </st>
</nz-card>
<footer-toolbar>
  <button nz-button [nzType]="'default'" (click)="return()">
    返回
  </button>
</footer-toolbar>