<div class="padding-bottom-45">
  <div class="modal-header">
    <div class="modal-title">{{title}}</div>
  </div>
  <form nz-form [formGroup]="form" #validateForm="ngForm" (ngSubmit)="save()" *ngIf="contract">
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24" nzRequired>合同分类</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <nz-select formControlName="type" [nzPlaceHolder]="'请选择合同分类'" [(ngModel)]="contract.type" [nzShowSearch]="true"
          (ngModelChange)="getRefList()" [nzDisabled]="refIdDisabled" style="width:100%;">
          <nz-option *ngFor="let i of contractType" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="(form.get('type')?.dirty && form.get('type')?.errors)
          ">请选择合同分类
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24" nzRequired>项目/采购名称</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <nz-select formControlName="refId" [nzPlaceHolder]="'请选择项目/采购名称'" [(ngModel)]="contract.refId"
          [nzDisabled]="refIdDisabled" [nzShowSearch]="true" style="width:100%;">
          <nz-option *ngFor="let i of refList" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select>
        <nz-alert nzType="info" nzMessage="选择合同分类为销项时为项目名称,选择进项时为采购名称" nzShowIcon></nz-alert>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24" nzRequired>合同编号分类</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <nz-select formControlName="codeType" [nzPlaceHolder]="'请选择合同编号分类'" [(ngModel)]="contract.codeType"
          [nzShowSearch]="true" (ngModelChange)="getCodeType()" style="width:100%;">
          <nz-option *ngFor="let i of contractCodeType" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="(form.get('codeType')?.dirty && form.get('codeType')?.errors)
      ">请选择合同编号分类
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" nzRequired [nzXs]="24">合同编号</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <input nz-input formControlName="contractCode" disabled placeholder="请输入合同编号"
          [(ngModel)]="contract.contractCode" />
        <nz-form-explain *ngIf="(form.get('contractCode')?.dirty && form.get('contractCode')?.errors)
        ">合同编号不能为空并且不能超过35个字符
        </nz-form-explain>
        <nz-alert nzType="info" nzMessage="选择合同编号分类自动生成" nzShowIcon></nz-alert>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24">签订日期</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <nz-date-picker placeholder="请选择采购日期" formControlName="signatureTime" [(ngModel)]="contract.signatureTime">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24">合同金额(元)</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <nz-input-number formControlName="amount" [nzDisabled]="true" style="width:100%" placeholder="合同金额"
          [(ngModel)]="contract.amount">
        </nz-input-number>
        <nz-form-explain *ngIf="(form.get('amount')?.dirty && form.get('amount')?.errors)
        ">合同金额不能超过18位
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24">合同描述</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <textarea nz-input rows="2" formControlName="desc" placeholder="请输入采购描述" [(ngModel)]="contract.desc"></textarea>
        <nz-form-explain *ngIf="(form.get('desc')?.dirty && form.get('desc')?.errors)
      ">合同描述不能超过250个字符
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <div>
        <nz-upload style="float:left;" [nzDisabled]="uploadDisabled" nzAction="{{postUrl | hostUrl}}"
          [nzShowUploadList]="false" (nzChange)="handleChange($event)" [nzBeforeUpload]="beforeUpload">
          <div nz-button nzType="default" nzType="primary" style="padding-top: 5px">
            <i nz-icon type="upload" class="anticon anticon-upload"></i><span>上传文件</span>
          </div>
        </nz-upload>
        <p style="float:left;margin-top: 5px;color:red" *ngIf="uploadDisabled==true">附件数量大于6不能继续上传</p>
      </div>
      <nz-list style="margin-top: 40px;" class="demo-loadmore-list" [nzDataSource]="attachments"
        [nzItemLayout]="'horizontal'" [nzLoading]="initLoading" [nzRenderItem]="item" [nzLoadMore]="loadMore">
        <ng-template #item let-item>
          <nz-list-item [nzActions]="[delete]">
            <ng-template #delete><a style="color:#ff4d4f;" (click)="deleteAttachment(item)">删除</a></ng-template>
            <nz-list-item-meta [nzDescription]="nzDescription">
            </nz-list-item-meta>
            <ng-template #nzDescription>
              <a href="{{item.fileUrl | hostUrl}}" target="_blank">{{item.fileName}}</a>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-form-item>
    <div class="modal-footer">
      <button nz-button type="button" [disabled]="saving" (click)="close()">
        {{l("Cancel")}}
      </button>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
        保存
      </button>
      <button nz-button type="button" [nzType]="'primary'" [disabled]="!validateForm.valid||saving"
        (click)="preservation()">
        保存并添加明细
      </button>
    </div>
  </form>
</div>