<!-- <nz-card [nzBordered]="false"> -->

<div nz-row [nzGutter]="24">
  <page-header title="{{projectTitle}}" [action]="extraTemplate">
    <ng-template #extraTemplate>
      <button nz-button [nzType]="'primary'" type="button" (click)="save()" [disabled]="!form.valid"
        *ngIf="projectStatus==4">保存</button>
      <button nz-button type="button" class="button-green" *ngIf="projectStatus==4"
        (click)="projectComplete()">项目完成</button>
    </ng-template>
  </page-header>
</div>
<form nz-form [formGroup]="form" class="ant-advanced-search-form" *ngIf="contract">

  <nz-card [nzBordered]="false" style="background-color: #ffc53d14;">
    <nz-divider nzText="合同"></nz-divider>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="8" class="labelPadding" nzRequired [nzXs]="24">合同总金额(元)</nz-form-label>
          <nz-form-control [nzSm]="10" class="controlPadding" nzHasFeedback>
            <nz-input-number formControlName="amount" style="width:100%" [nzDisabled]="true" nzMax="99999999999999"
              nzPrecision="2" [(ngModel)]="contract.amount">
            </nz-input-number>
            <nz-form-explain *ngIf="(form.get('amount')?.dirty && form.get('amount')?.errors)
              ">合同总金额不能为空
            </nz-form-explain>
          </nz-form-control>
          <button nz-button type="button" nzType="primary" [disabled]="projectStatus!=4"
            (click)="modifyContractDetail()" style="margin-top: 5px">
            <i nz-icon type="upload" class="anticon anticon-upload"></i><span>填写明细</span>
          </button>
        </nz-form-item>
      </div>
      <!-- <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <button nz-button type="button" nzType="primary" [disabled]="projectStatus!=4"
            (click)="modifyContractDetail()" style="margin-top: 5px">
            <i nz-icon type="upload" class="anticon anticon-upload"></i><span>填写明细</span>
          </button>
        </nz-form-item>
      </div> -->
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="8" class="labelPadding" nzRequired="true" [nzXs]="24">签定日期</nz-form-label>
          <nz-form-control [nzSm]="16" class="controlPadding" nzHasFeedback>
            <nz-date-picker [nzStyle]='{width:"100%"}' [nzDisabled]="projectStatus!=4" placeholder="请选择签定日期"
              formControlName="signatureTime" [(ngModel)]="contract.signatureTime"></nz-date-picker>
            <nz-form-explain *ngIf="(form.get('signatureTime')?.dirty && form.get('signatureTime')?.errors)
              ">开始日期不能为空
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="8" class="labelPadding" nzRequired="true" [nzXs]="24">合同拟写</nz-form-label>
          <nz-form-control [nzSm]="10" class="controlPadding" nzHasFeedback>
            <nz-radio-group formControlName="contractDrafting" [nzDisabled]="projectStatus!=4" style="width:'70%'"
              [(ngModel)]="contract.contractDrafting">
              <label nz-radio *ngFor="let i of contractStatus" nzValue="{{i.value}}">{{i.text}}</label>
            </nz-radio-group>
          </nz-form-control>
          <button nz-button type="button" nzType="primary" [disabled]="projectStatus!=4" (click)="uploadContract()"
            style="margin-top: 5px">
            <i nz-icon type="upload" class="anticon anticon-upload"></i><span>上传文件</span>
          </button>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="8" class="labelPadding" nzRequired="true" [nzXs]="24">原件回收情况</nz-form-label>
          <nz-form-control [nzSm]="10" class="controlPadding" nzHasFeedback>
            <nz-radio-group formControlName="originalRecycling" [nzDisabled]="projectStatus!=4" style="width:'70%'"
              [(ngModel)]="contract.originalRecycling">
              <label nz-radio *ngFor="let i of contractStatus" nzValue="{{i.value}}">{{i.text}}</label>
              <!-- <label nz-radio nzValue="0">未完成</label>
              <nz-option *ngFor="let i of paymentPlanStatus" [nzLabel]="i.text" [nzValue]="i.value">
                </nz-option> -->
            </nz-radio-group>
          </nz-form-control>
          <button nz-button type="button" nzType="primary" [disabled]="projectStatus!=4" (click)="uploadOriginal()"
            style="margin-top: 5px">
            <i nz-icon type="upload" class="anticon anticon-upload"></i><span>上传文件</span>
          </button>
        </nz-form-item>
      </div>
    </div>
  </nz-card>
  <nz-card [nzBordered]="false" style="background-color: #ffc53d24;">
    <nz-divider nzText="回款"></nz-divider>
    <nz-table #nzTable [nzLoading]="loading" formArrayName="paymentPlans" [nzData]="paymentPlans.value"
      [nzShowPagination]="false">
      <thead nz-thead>
        <tr>
          <th nz-th style="text-align: center;background-color: #ffc53d24;">计划回款日期</th>
          <th nz-th style="text-align: right;background-color: #ffc53d24;">回款比率(%)</th>
          <th nz-th style="text-align: right;background-color: #ffc53d24;">金额(元)</th>
          <th nz-th style="background-color: #ffc53d24;">回款条件</th>
          <th nz-th style="text-align: center;background-color: #ffc53d24;">回款状态</th>
          <th nz-th style="text-align: center;background-color: #ffc53d24;" *ngIf="projectStatus==4">操作</th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of paymentPlans.controls; let i = index" [formGroupName]="i">
          <td nz-td style="text-align: center">
            <span *ngIf="editIndex!==i">{{paymentPlans.value[i].planTime | date:'yyyy-MM-dd'}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <nz-date-picker [nzStyle]='{width:"100%"}' placeholder="请选择计划回款日期" formControlName="planTime">
              </nz-date-picker>
            </span>
          </td>
          <td nz-td style="text-align: right">
            <span *ngIf="editIndex!==i">{{paymentPlans.value[i].ratio}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <nz-input-number nz-input formControlName="ratio" [(ngModel)]="paymentPlansRatio" nzMax="99999999999999"
                nzPrecision="2" placeholder="请输入回款比率">
              </nz-input-number>
            </span>
          </td>
          <td nz-td style="text-align: right">
            <span *ngIf="editIndex!==i">{{paymentPlans.value[i].amount}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <nz-input-number nz-input formControlName="amount" [ngModel]="contract.amount*paymentPlansRatio/100"
                nzMax="99999999999999" nzPrecision="2" placeholder="请输入金额">
              </nz-input-number>
            </span>
          </td>
          <td nz-td>
            <span *ngIf="editIndex!==i">{{paymentPlans.value[i].paymentCondition}}</span>
            <span *ngIf="editIndex===i" nz-form-control>
              <input nz-input formControlName="paymentCondition" placeholder="请输入回款条件">
            </span>
          </td>
          <td nz-td style="text-align: center">
            <span *ngIf="editIndex!==i">
              <nz-badge *ngIf="paymentPlans.value[i].status==1" [nzStatus]="'success'" [nzText]="'已回款'"></nz-badge>
              <nz-badge *ngIf="paymentPlans.value[i].status==0" [nzStatus]="'default'" [nzText]="'未回款'"></nz-badge>
            </span>
            <span *ngIf="editIndex===i" nz-form-control>
              <nz-select style="width: 100%;" formControlName="status" [ngModel]="paymentPlans.value[i].status"
                nzPlaceHolder="请选择回款状态">
                <nz-option *ngFor="let i of paymentPlanStatus" [nzLabel]="i.text" [nzValue]="i.value">
                </nz-option>
              </nz-select>
            </span>
          </td>
          <td nz-td style="text-align: center" *ngIf="projectStatus==4">
            <span *ngIf="editIndex!==i && paymentPlans.value[i].name!='合计' && paymentPlans.value[i].status!=1">
              <a (click)="edit(i)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="del(i,paymentPlans.value[i].id)" [nzTitle]="'是否要删除此行数据？'">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
            <span *ngIf="editIndex===i && paymentPlans.value[i].name!='合计'">
              <a (click)="saveProjectDetail(i)">保存</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="cancel(i,paymentPlans.value[i].id)" [nzTitle]="'是否要取消操作？'">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <button *ngIf="editIndex===-1 && projectStatus==4" nz-button [nzType]="'dashed'" (click)="add()" nzBlock
      class="mt-md">
      <i nz-icon type="plus"></i>
      <span>新增回款</span>
    </button>
    <!-- <div class="modal-footer">
      <label style="margin-right: 10%;font-weight: bold">总计：{{paymentPlanTotalAmount}}</label>
    </div> -->
  </nz-card>
  <nz-card [nzBordered]="false" style="background-color: #f4f4f4;">
    <nz-divider nzText="发票"></nz-divider>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="8" class="labelPadding" [nzXs]="24">总开票金额(元)</nz-form-label>
          <nz-form-control [nzSm]="10" class="controlPadding" nzHasFeedback>
            <span>{{contract.amount}}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="8" class="labelPadding" [nzXs]="24">已开票金额(元)</nz-form-label>
          <nz-form-control [nzSm]="10" class="controlPadding" nzHasFeedback>
            <span>{{incoiceTotalAmount}}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="8" class="labelPadding" [nzXs]="24">未开票金额(元)</nz-form-label>
          <nz-form-control [nzSm]="10" class="controlPadding" nzHasFeedback>
            <span>{{contract.amount-incoiceTotalAmount}}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-table #nzTable [nzLoading]="loading" formArrayName="incoices" [nzData]="incoices.value"
      [nzShowPagination]="false">
      <thead nz-thead>
        <tr>
          <th nz-th>发票号</th>
          <th nz-th style="text-align: center">开票日期</th>
          <th nz-th style="text-align: right">金额(元)</th>
          <th nz-th style="text-align: center" *ngIf="projectStatus==4">操作</th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of incoices.controls; let i = index" [formGroupName]="i">
          <td nz-td>
            <span *ngIf="incoiceEditIndex!==i">{{incoices.value[i].code}}</span>
            <span *ngIf="incoiceEditIndex===i" nz-form-control>
              <input nz-input formControlName="code" placeholder="请输入发票号">
            </span>
          </td>
          <td nz-td style="text-align: center">
            <span *ngIf="incoiceEditIndex!==i">{{incoices.value[i].submitDate | date:'yyyy-MM-dd'}}</span>
            <span *ngIf="incoiceEditIndex===i" nz-form-control>
              <nz-date-picker [nzStyle]='{width:"100%"}' placeholder="请选择开票日期" formControlName="submitDate">
              </nz-date-picker>
            </span>
          </td>
          <td nz-td style="text-align: right">
            <span>{{incoices.value[i].amount}}</span>
            <!-- <span *ngIf="editIndex===i" nz-form-control>
              <nz-input-number nz-input formControlName="amount" nzMax="99999999999999" nzPrecision="2"
                placeholder="请输入金额">
              </nz-input-number>
            </span> -->
          </td>
          <td nz-td style="text-align: center" *ngIf="projectStatus==4">
            <span *ngIf="incoiceEditIndex!==i">
              <a (click)="editIncoice(i)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="delIncoice(i,incoices.value[i].id)" [nzTitle]="'是否要删除此行数据？'">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
            <span *ngIf="incoiceEditIndex===i">
              <a (click)="saveIncoice(i,false)">保存</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="modifyIncoiceDetail(i)">编辑明细</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="cancelIncoice(i,incoices.value[i].id)" [nzTitle]="'是否要取消操作？'">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <button *ngIf="incoiceEditIndex===-1 && projectStatus==4" nz-button [nzType]="'dashed'" (click)="addIncoice()"
      nzBlock class="mt-md">
      <i nz-icon type="plus"></i>
      <span>新增发票</span>
    </button>
  </nz-card>

  <nz-card [nzBordered]="false" style="background-color: #f4f4f4;">
    <nz-divider nzText="执行"></nz-divider>
    <nz-table #nzTable [nzLoading]="loading" formArrayName="implements" [nzData]="implements.value"
      [nzShowPagination]="false">
      <!-- <thead nz-thead>
        <tr>
          <th nz-th>发票号</th>
          <th nz-th style="text-align: center">开票日期</th>
          <th nz-th style="text-align: right">金额(元)</th>
          <th nz-th style="text-align: center">操作</th>
        </tr>
      </thead> -->
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of implements.controls; let i = index" [formGroupName]="i">
          <td nz-td>
            <!-- <span *ngIf="implementEditIndex!==i">{{implements.value[i].name}}</span> -->
            <span nz-form-control>
              <input nz-input *ngIf="projectStatus==4" formControlName="name" [(ngModel)]="implements.value[i].name"
                placeholder="请输入名称">
              <input nz-input *ngIf="projectStatus!=4 " formControlName="name" readonly
                [(ngModel)]="implements.value[i].name" placeholder="请输入名称">
            </span>
          </td>
          <td nz-td style="text-align: center">
            <!-- <span *ngIf="implementEditIndex!==i">{{incoices.value[i].isImplement}}</span> -->
            <nz-radio-group [(ngModel)]="implements.value[i].isImplement" [nzDisabled]="projectStatus!=4?true:false"
              formControlName="isImplement">
              <label nz-radio nzValue="true">是</label>
              <label nz-radio nzValue="false">否</label>
            </nz-radio-group>
          </td>
          <td nz-td style="text-align: center">
            <span nz-form-control>
              <button nz-button type="button" nzType="primary" (click)="uploadImplement(i)"
                [disabled]="projectStatus!=4?true:false" style="margin-top: 5px">
                <i nz-icon type="upload" class="anticon anticon-upload"></i><span>上传文件</span>
              </button>
              <!-- <nz-date-picker [nzStyle]='{width:"100%"}' placeholder="请选择开票日期" formControlName="submitDate">
              </nz-date-picker> -->
            </span>
          </td>
          <td nz-td style="text-align: center" *ngIf="projectStatus==4">
            <span *ngIf="implementEditIndex!==i">
              <!-- <a (click)="editIncoice(i)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider> -->
              <nz-popconfirm (nzOnConfirm)="delIimplement(i,implements.value[i].id)" [nzTitle]="'是否要删除此行数据？'">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
            <span *ngIf="implementEditIndex===i">
              <!-- <a (click)="saveIncoice(i,false)">保存</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="modifyIncoiceDetail(i)">编辑明细</a>
              <nz-divider nzType="vertical"></nz-divider> -->
              <nz-popconfirm (nzOnConfirm)="cancelIimplement(i,implements.value[i].id)" [nzTitle]="'是否要取消操作？'">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <button *ngIf="implementEditIndex===-1 && projectStatus==4" nz-button [nzType]="'dashed'" (click)="addIimplement()"
      nzBlock class="mt-md">
      <i nz-icon type="plus"></i>
      <span>新增执行</span>
    </button>
  </nz-card>
</form>
