.labelPadding {
  padding-right: 0px !important;
}

.controlPadding {
  padding-left: 0px !important;
}

.remarkLabelPadding {
  padding-right: 0px !important;
  margin-left: 30PX
}

.remarkcontrolPadding {
  padding-left: 0px !important;
  padding-right: 40px !important
}

.ant-calendar-picker {
  width: 100% !important;
}
