<!-- <nz-card [nzBordered]="false"> -->
<form nz-form [formGroup]="form" #validateForm="ngForm" class="ant-advanced-search-form" (ngSubmit)="save()"
  *ngIf="contract">
  <!-- <div nz-row [nzGutter]="24" *ngIf="!contract.id"> -->
  <nz-card [nzBordered]="false" [nzExtra]="extraTemplate">
    <ng-template #extraTemplate>
      <!-- <button nz-button type="button" *ngIf="project.status==1 && id" (click)="losing()">丢单</button> -->
      <!-- <button nz-button type="button" [nzType]="'primary'" (click)="submit()">提交</button> -->
      <button nz-button [nzType]="'primary'" *ngIf="projectStatus==3 || purchaseId" type="submit"
        [disabled]="!validateForm.valid||saving">保存</button>
    </ng-template>
    <!-- </div> -->
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>合同分类</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="type" [nzPlaceHolder]="'请选择合同分类'" [(ngModel)]="contract.type"
              [nzDisabled]="true" style="width:100%;">
              <nz-option *ngFor="let i of contractType" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="(form.get('type')?.dirty && form.get('type')?.errors)
                  ">请选择合同分类
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>{{contract.type==1?'项目名称':'采购名称'}}</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="refId" [nzPlaceHolder]="contract.type==1?'请选择项目名称':'请选择采购名称'"
              [(ngModel)]="contract.refId" [nzDisabled]="true" style="width:100%;">
              <nz-option *ngFor="let i of refList" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
            <!-- <nz-alert nzType="info" nzMessage="选择合同分类为销项时为项目名称,选择进项时为采购名称" nzShowIcon></nz-alert> -->
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>合同编号分类</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="codeType" [nzPlaceHolder]="'请选择合同编号分类'" [(ngModel)]="contract.codeType"
              [nzShowSearch]="true" (ngModelChange)="getCodeType()" style="width:100%;">
              <nz-option *ngFor="let i of contractCodeType" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="(form.get('codeType')?.dirty && form.get('codeType')?.errors)
                ">请选择合同编号分类
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label class="labelPadding" [nzSpan]="6">签订日期</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-date-picker placeholder="请选择签订日期" formControlName="signatureTime" [(ngModel)]="contract.signatureTime">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>合同编号</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <input nz-input formControlName="contractCode" disabled placeholder="请输入合同编号"
              [(ngModel)]="contract.contractCode" />
            <nz-form-explain *ngIf="(form.get('contractCode')?.dirty && form.get('contractCode')?.errors)
                        ">合同编号不能为空并且不能超过35个字符
            </nz-form-explain>
            <nz-alert nzType="info" nzMessage="选择合同编号分类自动生成" nzShowIcon></nz-alert>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label class="labelPadding" [nzSpan]="6">合同金额(元)</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-input-number formControlName="amount" [nzDisabled]="true" style="width:100%"
              [(ngModel)]="contract.amount">
            </nz-input-number>
            <nz-form-explain *ngIf="(form.get('amount')?.dirty && form.get('amount')?.errors)
              ">合同金额不能超过18位
            </nz-form-explain>
            <nz-alert nzType="info" nzMessage="由合同明细计算得到" nzShowIcon></nz-alert>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label class="labelPadding" [nzSpan]="3">合同描述</nz-form-label>
          <nz-form-control [nzSpan]="20" class="controlPadding" nzHasFeedback>
            <textarea nz-input rows="2" formControlName="desc" placeholder="请输入采购描述"
              [(ngModel)]="contract.desc"></textarea>
            <nz-form-explain *ngIf="(form.get('desc')?.dirty && form.get('desc')?.errors)
            ">合同描述不能超过250个字符
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item nz-row>
      <div>
        <nz-upload style="float:right;" *ngIf="projectStatus==3 || purchaseId" [nzDisabled]="uploadDisabled"
          nzAction="{{postUrl | hostUrl}}" [nzShowUploadList]="false" (nzChange)="handleChange($event)"
          [nzBeforeUpload]="beforeUpload">
          <div nz-button nzType="default" nzType="primary" style="padding-top: 5px">
            <i nz-icon type="upload" class="anticon anticon-upload"></i><span>上传文件</span>
          </div>
        </nz-upload>
        <p style="float:left;margin-top: 5px;color:red" *ngIf="uploadDisabled==true">附件数量大于6不能继续上传</p>
      </div>
      <nz-list style="margin-top: 40px;" nzBordered="true" class="demo-loadmore-list" [nzDataSource]="attachments"
        [nzItemLayout]="'horizontal'" nzHeader="合同文件列表" [nzLoading]="initLoading" [nzRenderItem]="item"
        [nzLoadMore]="loadMore">
        <ng-template #item let-item>
          <nz-list-item [nzActions]="[delete]">
            <ng-template #delete><a style="color:#ff4d4f;" *ngIf="projectStatus==3 || purchaseId"
                (click)="deleteAttachment(item)">删除</a>
            </ng-template>
            <nz-list-item-meta [nzDescription]="nzDescription">
            </nz-list-item-meta>
            <ng-template #nzDescription>
              <a href="{{item.fileUrl | hostUrl}}" target="_blank">{{item.fileName}}</a>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-form-item>
    <nz-card [nzBordered]="true" nzTitle="合同明细" class="mb-lg" [nzExtra]="detailTemplate">
      <!-- <form nz-form [nzLayout]="'inline'" class="search__form">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col [nzSpan]="24" style="text-align: right">
            <button nz-button (click)="createContractDetail()" nzType="primary">
              <i class="anticon anticon-plus"></i>
              <span>新建</span>
            </button>
          </div>
        </div>
      </form> -->
      <ng-template #detailTemplate>
        <button nz-button type="button" (click)="createContractDetail()" nzType="primary">
          <i class="anticon anticon-plus"></i>
          <span>新建</span>
        </button>
      </ng-template>
      <nz-table #nzTable [nzData]="contractDetails" [nzFrontPagination]="false" [nzLoading]="loading"
        [nzShowPagination]="false">
        <thead nz-thead>
          <tr>
            <th nz-th>
              <span>{{contract.type==1?'项目明细名称':'采购明细名称'}}</span>
            </th>
            <th nz-th style="text-align: center">
              <span>交货日期</span>
            </th>
            <th nz-th style="text-align: center">
              <span>操作</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let item of nzTable.data; let i = index">
            <td nz-td>{{item.refDetailName}}</td>
            <td nz-td style="text-align: center">{{item.deliveryDate | date:'yyyy-MM-dd'}}</td>
            <td nz-td style="text-align: center">
              <a (click)="editDing(item,i)">编辑</a>
              <span nz-table-divider></span>
              <nz-divider nzType="vertical"></nz-divider>
              <a style="color:#ff4d4f;" (click)="delete(item,i)">删除</a>
              <span nz-table-divider></span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>

  </nz-card>
</form>
<!-- </nz-card> -->
