<nz-modal [(nzVisible)]="isVisible" nzMaskClosable="false" nzTitle="图片裁剪" (nzOnCancel)="handleCancel($event)" nzWidth="720"
    [nzFooter]="null">
    <nz-upload [nzBeforeUpload]="beforeUpload">
        <button nz-button>
            <i nz-icon type="upload"></i><span>选择图片</span>
        </button>
    </nz-upload>
    <br>
    <img-cropper #banner [image]="bannerData" [settings]="bannerSettings"></img-cropper>
    <div class="modal-footer">
        <button nz-button type="button" [disabled]="loading" (click)="handleCancel($event)">
            取消
        </button>
        <button nz-button [nzType]="'primary'" [disabled]="!bannerData.image" (click)="upload(bannerData)" type="button">
            上传
        </button>
    </div>
</nz-modal>