<!-- <nz-card [nzBordered]="false"> -->
<form nz-form [formGroup]="form" #validateForm="ngForm" class="ant-advanced-search-form" (ngSubmit)="save()"
  *ngIf="tender">
  <!-- <div nz-row [nzGutter]="24"> -->
  <nz-card [nzBordered]="false" [nzExtra]="projectStatus==2?extraTemplate:''">
    <ng-template #extraTemplate>
      <button nz-button type="button" (click)="modifyIsWinbid('loseABid')" *ngIf="tender.id">未中标</button>
      <button nz-button type="button" [nzType]="'primary'" (click)="modifyIsWinbid('winningBid')"
        *ngIf="tender.id">中标</button>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">保存</button>
    </ng-template>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" class="labelPadding" nzRequired>所属项目</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="projectId" [nzPlaceHolder]="'请选择所属项目'" [nzDisabled]="projectIdDisabled"
              [(ngModel)]="tender.projectId" [nzShowSearch]="true" style="width:100%;">
              <nz-option *ngFor="let i of projectList" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="(form.get('projectId')?.dirty && form.get('projectId')?.errors)
                ">所属项目不能为空
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="8" class="labelPadding" nzRequired>招标时间</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-date-picker placeholder="请选择招标时间" formControlName="tenderTime" style="width:100%"
              [(ngModel)]="tender.tenderTime"></nz-date-picker>
            <nz-form-explain *ngIf="(form.get('tenderTime')?.dirty && form.get('tenderTime')?.errors)
            ">招标时间不能为空
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="6" class="labelPadding" nzRequired>准备完成时间</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-date-picker style="width:100%" placeholder="请选择准备完成时间" formControlName="readyTime"
              [(ngModel)]="tender.readyTime"></nz-date-picker>
            <nz-form-explain *ngIf="(form.get('readyTime')?.dirty && form.get('readyTime')?.errors)
              ">准备完成时间不能为空
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="8" class="labelPadding">是否完成准备</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding">
            <nz-switch formControlName="isReady" [(ngModel)]="tender.isReady" nzCheckedChildren="是"
              nzUnCheckedChildren="否"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="6" nzRequired="true" class="labelPadding">保证金截止时间</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-date-picker style="width:100%" placeholder="请选择保证金截止时间" formControlName="bondTime"
              [(ngModel)]="tender.bondTime"></nz-date-picker>
          </nz-form-control>
          <nz-form-explain *ngIf="(form.get('bondTime')?.dirty && form.get('bondTime')?.errors)
              ">保证金截止时间不能为空
          </nz-form-explain>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="8" class="labelPadding">是否缴纳保证金</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding">
            <nz-switch formControlName="isPayBond" [(ngModel)]="tender.isPayBond" nzCheckedChildren="是"
              nzUnCheckedChildren="否"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="6" nzRequired="true" class="labelPadding">招标负责人</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="employeeId" [nzPlaceHolder]="'请选择招标负责人'" [(ngModel)]="tender.employeeId"
              [nzShowSearch]="true" style="width:100%;">
              <nz-option *ngFor="let i of employeeList" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12" *ngIf="tender.isPayBond=='1'">
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="8" nzRequired="true" class="labelPadding">保证金(元)</nz-form-label>
          <nz-form-control [nzSpan]="16" class="controlPadding" nzHasFeedback>
            <nz-input-number formControlName="bond" style="width:100%" placeholder="保证金" [(ngModel)]="tender.bond">
            </nz-input-number>
            <nz-form-explain *ngIf="(form.get('amount')?.dirty && form.get('amount')?.errors)
            ">保证金不能超过18位
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="3" nzRequired="true" class="labelPadding">标书准备人</nz-form-label>
          <nz-form-control [nzSpan]="21" class="controlPadding" nzHasFeedback>
            <nz-select formControlName="readyEmployeeIds" nzMode="tags" [nzPlaceHolder]="'请选择标书准备人'"
              [(ngModel)]="readyEmployeeIds" [nzShowSearch]="true" style="width:100%;">
              <nz-option *ngFor="let i of employeeList" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item nz-row>
      <div>
        <nz-upload style="float:right;" *ngIf="projectStatus==2" [nzDisabled]="uploadDisabled"
          nzAction="{{postUrl | hostUrl}}" [nzShowUploadList]="false" (nzChange)="handleChange($event)"
          [nzBeforeUpload]="beforeUpload">
          <div nz-button nzType="default" nzType="primary" style="padding-top: 5px">
            <i nz-icon type="upload" class="anticon anticon-upload"></i><span>上传文件</span>
          </div>
        </nz-upload>
        <p style="float:left;margin-top: 5px;color:red" *ngIf="uploadDisabled==true">附件数量大于6不能继续上传</p>
      </div>
      <nz-list style="margin-top: 40px;" class="demo-loadmore-list" [nzDataSource]="attachments"
        [nzItemLayout]="'horizontal'" nzHeader="招标文件列表" nzBordered="true" [nzLoading]="initLoading"
        [nzRenderItem]="item" [nzLoadMore]="loadMore">
        <ng-template #item let-item>
          <nz-list-item [nzActions]="[delete]">
            <ng-template #delete><a style="color:#ff4d4f;" *ngIf="projectStatus==2"
                (click)="deleteAttachment(item)">删除</a></ng-template>
            <nz-list-item-meta [nzDescription]="nzDescription">
            </nz-list-item-meta>
            <ng-template #nzDescription>
              <a href="{{item.fileUrl | hostUrl}}" target="_blank">{{item.fileName}}</a>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-form-item>

  </nz-card>
</form>
<!-- </nz-card> -->
