<div class="padding-bottom-45">
  <div class="modal-header">
    <div class="modal-title">{{title}}</div>
  </div>
  <form nz-form [formGroup]="form" #validateForm="ngForm" (ngSubmit)="save()" *ngIf="projectDetail">
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24" nzRequired>明细分类</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <nz-select formControlName="type" [nzPlaceHolder]="'请选择明细分类'" nzDisabled="{{disabled}}"
          [(ngModel)]="projectDetail.type" [nzShowSearch]="true" style="width:100%;">
          <nz-option *ngFor="let i of projectDetailTypeList" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select>
        <nz-form-explain *ngIf="(form.get('type')?.dirty && form.get('type')?.errors)
        ">明细分类不能为空
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row *ngIf="projectDetail.type=='商品采购'">
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24">产品</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <button nz-button type="button" [nzType]="'primary'" (click)="productSelection()"
          [disabled]="saving">选择已有产品</button>
        <!-- <nz-select formControlName="product" [nzPlaceHolder]="'请选择产品'" [(ngModel)]="projectDetail.product"
          (ngModelChange)="checkCallback()" [nzShowSearch]="true" style="width:100%;">
          <nz-option *ngFor="let i of productList" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select> -->
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="isInput=='false'">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="5" [nzXs]="24">商品或服务名称</nz-form-label>
        <nz-form-control [nzSm]="19" nzHasFeedback>
          <input nz-input formControlName="name" disabled placeholder="请输入商品或服务名称" [(ngModel)]="projectDetail.name" />
          <nz-form-explain *ngIf="
          (form.get('amount')?.dirty && form.get('amount')?.errors)
        ">商品或服务名称不能超过100个字符
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="5" [nzXs]="24">规格型号</nz-form-label>
        <nz-form-control [nzSm]="19" nzHasFeedback>
          <input nz-input formControlName="specification" disabled placeholder="请输入规格型号"
            [(ngModel)]="projectDetail.specification" />
          <nz-form-explain *ngIf="
            (form.get('specification')?.dirty && form.get('specification')?.errors)
          ">规格型号不能超过100个字符
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div *ngIf="isInput=='true'">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="5" [nzXs]="24">商品或服务名称</nz-form-label>
        <nz-form-control [nzSm]="19" nzHasFeedback>
          <input nz-input formControlName="name" placeholder="请输入商品或服务名称" [(ngModel)]="projectDetail.name" />
          <nz-form-explain *ngIf="
            (form.get('amount')?.dirty && form.get('amount')?.errors)
          ">商品或服务名称不能超过100个字符
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="5" [nzXs]="24">规格型号</nz-form-label>
        <nz-form-control [nzSm]="19" nzHasFeedback>
          <input nz-input formControlName="specification" placeholder="请输入规格型号"
            [(ngModel)]="projectDetail.specification" />
          <nz-form-explain *ngIf="
              (form.get('specification')?.dirty && form.get('specification')?.errors)
            ">规格型号不能超过100个字符
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24">单位</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <input nz-input formControlName="unit" placeholder="请输入单位" [(ngModel)]="projectDetail.unit" />
        <nz-form-explain *ngIf="
          (form.get('unit')?.dirty && form.get('unit')?.errors)
        ">单位不能超过25个字符
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24">数量</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <nz-input-number formControlName="num" style="width:25%" placeholder="请输入数量" [(ngModel)]="projectDetail.num">
        </nz-input-number>
        <nz-form-explain *ngIf="
            (form.get('num')?.dirty && form.get('num')?.errors)
          ">数量不能超过18位
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nz-col [nzSm]="5" [nzXs]="24">销售单价</nz-form-label>
      <nz-form-control [nzSm]="19" nzHasFeedback>
        <nz-input-number formControlName="price" style="width:25%" placeholder="请输入销售单价"
          [(ngModel)]="projectDetail.price">
        </nz-input-number>
        <nz-form-explain *ngIf="
            (form.get('price')?.dirty && form.get('price')?.errors)
          ">销售单价不能超过18位
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
      <button nz-button type="button" [disabled]="saving" (click)="close()">
        {{l("Cancel")}}
      </button>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
        保存
      </button>
    </div>
  </form>
</div>