<page-header [title]="">
  <sv-container size="small" col="2">
    <sv label="项目名称">{{tender.projectName}}</sv>
    <sv label="招标时间">{{tender.tenderTime | date:'yyyy-MM-dd HH:mm:ss'}}</sv>
    <sv label="保证金截止时间">{{tender.bondTime | date:'yyyy-MM-dd HH:mm:ss'}}</sv>
    <sv label="准备完成时间">{{tender.readyTime | date:'yyyy-MM-dd HH:mm:ss'}}</sv>
    <sv label="招标负责人">{{tender.employeeName}}</sv>
    <sv label="招标准备人">{{tender.readyEmployeeNames}}</sv>
    <sv label="是否中标">
      <nz-badge *ngIf="tender.isWinbid" [nzStatus]="'success'" [nzText]="'是'"></nz-badge>
      <nz-badge *ngIf="!tender.isWinbid" [nzStatus]="'default'" [nzText]="'否'"></nz-badge>
    </sv>
    <sv label="是否完成准备">
      <nz-badge *ngIf="tender.isReady" [nzStatus]="'success'" [nzText]="'是'"></nz-badge>
      <nz-badge *ngIf="!tender.isReady" [nzStatus]="'default'" [nzText]="'否'"></nz-badge>
    </sv>
    <sv label="是否缴纳保证金">
      <nz-badge *ngIf="tender.isPayBond" [nzStatus]="'success'" [nzText]="'是'"></nz-badge>
      <nz-badge *ngIf="!tender.isPayBond" [nzStatus]="'default'" [nzText]="'否'"></nz-badge>
    </sv>
  </sv-container>
</page-header>
<nz-card nzTitle="附件">
  <div nz-card-grid [ngStyle]="{width: '25%',textAlign: 'center'}" *ngFor="let item of attachments"><a
      href="{{item.fileUrl | hostUrl}}" target="_blank">{{item.fileName}}</a></div>
</nz-card>
<footer-toolbar>
  <button nz-button [nzType]="'default'" (click)="return()">
    返回
  </button>
</footer-toolbar>