<page-header [title]="''"></page-header>
<nz-card>
    <div nz-row class="mb-md">
        <div nz-col nzSpan="18" style="padding-right:10px;">
            <nz-input-group nzSearch [nzSuffix]="suffixButton">
                <input type="text" [(ngModel)]="keyWord" nz-input placeholder="用户姓名/手机号码/身份证">
            </nz-input-group>
            <ng-template #suffixButton>
                <button nz-button nzType="primary" [nzLoading]="isTableLoading" (click)="refreshData()" nzSearch>搜索</button>
            </ng-template>
        </div>
        <div nz-col nzSpan="6" style="text-align:right;">
            <button nz-button (click)="resetSearch()" nzShape="circle" nz-tooltip nzPlacement="top" nzTitle="刷新">
                <i class="anticon anticon-reload"></i>
            </button>
        </div>
    </div>
    <ng-template #totalTemplate let-total>共 {{totalItems}} 条</ng-template>
    <nz-table #ajaxTable nzShowSizeChanger [nzData]="dataList" [nzShowTotal]="totalTemplate" [nzTotal]="totalItems"
        [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="refresh()"
        (nzPageSizeChange)="refresh()" [nzFrontPagination]="false">
        <thead>
            <tr>
                <!-- <th>接口数据code</th> -->
                <th>用户名</th>
                <th>电话</th>
                <th>身份证号</th>
                <th>购买金额</th>
                <th>绑定时间</th>
                <th>绑定微信用户</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ajaxTable.data">
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.idNumber}}</td>
                <td>{{item.purchaseAmount}}</td>
                <td>{{item.creationTime | _date}}</td>
                <td>
                    <a (click)="goUserInfo(item.wechatId)">{{item.bindWechatUser}}</a>
                </td>
                <td>
                    <a (click)="goDetail(item.id)">详情</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>