// component css goes here
.right{
    padding-right: 0px !important;
 }
 .total{
    background-color: rgb(170, 183, 189);
    font-weight: bold;
 }
 .yinXiao{
    background-color: rgb(240, 242, 245);
 }