<page-header [title]="''"></page-header>

<nz-card [nzExtra]="extraTpl">

  <div nz-row class="mb-md">
    <div nz-col [nzSpan]="8">
      <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name">客户名称</nz-form-label>
      <nz-form-control [nzSm]="16">
        <input nz-input name="name" #name="ngModel" [(ngModel)]="param.name" [placeholder]="'请输入客户名称'">
      </nz-form-control>

    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-label nz-col [nzSm]="6" [nzXs]="24" nzFor="type">客户类型</nz-form-label>
      <nz-form-control nz-col [nzSm]="18">
        <nz-select name="type" style="width: 100%;" #type="ngModel" [(ngModel)]="param.type">
          <nz-option *ngFor="let i of customerTypes" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </div>

    <div nz-col [nzSpan]="4" style="float:right;text-align: right; padding-left:0px">
      <button nz-button (click)="refresh()" nzType="primary">
        搜索
      </button>

      <button nz-button (click)="create()" nzType="primary">
        <i class="anticon anticon-plus"></i>
        <span>新建</span>
      </button>
    </div>
  </div>

  <nz-table #ajaxTable nzShowSizeChanger [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber"
    [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="refresh()"
    (nzPageSizeChange)="refresh()" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>客户名称</th>
        <th>客户类型</th>
        <th>客户地址</th>
        <th>邮编</th>
        <th>电话</th>
        <th>联系人</th>
        <th>联系人职位</th>
        <th>联系人电话</th>
        <th>创建时间</th>
        <th>最新更新时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ajaxTable.data">
        <td>{{item.name}}</td>
        <td>{{item.typeName}}</td>
        <td>{{item.address}}</td>
        <td>{{item.zipCode}}</td>
        <td>{{item.tel}}</td>
        <td>{{item.contact}}</td>
        <td>{{item.position}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.creationTime| _date: 'YYYY-MM-DD'}}</td>
        <td>{{item.lastModificationTime| _date: 'YYYY-MM-DD'}}</td>
        <td>
          <a (click)="edit(item)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(item)">删除</a>
        </td>

      </tr>

    </tbody>

  </nz-table>
</nz-card>