<div class="alain-default__content-title">
  <h1>
    达州烟草
    <small class="text-sm hidden-xs">达州烟草微信平台欢迎您！当前版本：v1.0</small>
  </h1>
  <!--<div style=" float:right;">我的角色：系统管理员</div>-->
</div>
<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
      <div nz-col nzSpan="24" class="p-md text-white">
        <div class="h2 mt0">{{homeInfo.weChatUsersTotal}}人</div>
        <p class="text-nowrap mb0">会员注册</p>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
      <div nz-col nzSpan="24" class="p-md text-white">
        <div class="h2 mt0">{{homeInfo.integralTotal}}积分</div>
        <p class="text-nowrap mb0">积分剩余总数</p>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
      <div nz-col nzSpan="24" class="p-md text-white">
        <div class="h2 mt0">{{homeInfo.orderTotal}}单</div>
        <p class="text-nowrap mb0">订单总数</p>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-magenta rounded-md">
      <div nz-col nzSpan="24" class="p-md text-white">
        <div class="h2 mt0">{{homeInfo.pendingOrderTotal}}单</div>
        <p class="text-nowrap mb0">未完成订单</p>
      </div>
    </div>
  </div>
</div>

<div nz-row nzGutter="16">

  <!-- <div nz-col nzXs="24" nzMd="12"> -->
  <div nz-col nzXs="24" nzMd="24">
    <nz-card [nzBordered]="false" [nzTitle]="title1">
      <ng-template #title1>
        商品兑换数量前十
      </ng-template>
      <g2-bar height="275" [data]="goodsStatisData">
      </g2-bar>
      <nz-table #nzTable [nzData]="goodsStatis" nzShowSizeChanger [nzShowPagination]="false">
        <thead>
          <tr>
            <th>
              <span>品规</span>
            </th>
            <th *ngFor="let goods of nzTable.data">
              <span>{{goods.groupName}}</span>
            </th>
            <th>
              <span class="bgcorlor">总数</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="countsty">数量</td>
            <td *ngFor="let goods of nzTable.data">{{goods.total}}</td>
            <td class="bgcorlor">{{goodTotal}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="24">
    <nz-card [nzBordered]="false" [nzTitle]="title2">
      <ng-template #title2>
        商品兑换积分前十
      </ng-template>
      <!-- <g2-bar height="275" [color]="'#52c41a'" [data]="integralStatisData">
      </g2-bar> -->
      <g2-group-bar height="275" [color]="'#52c41a'" [unit]="' 积分'" [data]="integralStatisData">
      </g2-group-bar>
      <nz-table #nzTable2 [nzData]="integralStatis" nzShowSizeChanger [nzShowPagination]="false">
        <thead>
          <tr>
            <th>
              <span>品规</span>
            </th>
            <th *ngFor="let integral of nzTable2.data">
              <span>{{integral.groupName}}</span>
            </th>
            <th>
              <span class="bgcorlor">总数</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="countsty">积分</td>
            <td *ngFor="let integral of nzTable2.data">{{integral.integralTotal}}</td>
            <td class="bgcorlor">{{inTotal}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="24">
    <nz-card [nzTitle]="'积分增加消耗统计（按月）'" [nzExtra]="title3" [nzBordered]="false">
      <ng-template #title3>
        <nz-radio-group [(ngModel)]="searchMoth" (ngModelChange)="changeCategory()">
          <label nz-radio-button *ngFor="let item of tags" [nzValue]="item.value">{{item.text}}</label>
        </nz-radio-group>
      </ng-template>
      <g2-group-bar height="275" [colors]="colors" [unit]="' 积分'" [data]="integralMothData" groupName="name">
      </g2-group-bar>
      <nz-table #nzTablew [nzData]="integralMoth" [nzShowPagination]="false" [nzShowSizeChanger]="true">
        <thead>
          <tr>
            <th>
              <span>月份</span>
            </th>
            <th *ngFor="let intMoth of nzTablew.data">
              <span>{{intMoth.groupName}}</span>
            </th>
            <th>
              <span class="bgcorlor">总数</span>
            </th>
          </tr>

        </thead>
        <tbody>
          <tr>
            <td class="countsty">增加积分</td>
            <td *ngFor="let intMoth of nzTablew.data">{{intMoth.growIntegral}}</td>
            <td class="bgcorlor">{{inMoth.growthTotal}}</td>
          </tr>
          <tr>
            <td class="countsty">消耗积分</td>
            <td *ngFor="let intMoth of nzTablew.data">{{intMoth.depleteIntegral}}</td>
            <td class="bgcorlor">{{inMoth.depleteTotal}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>


</div>