<div class="container">

  <div class="top">

    <div class="head">
      <a [routerLink]="['/']">
        <img class="logo" src="assets/images/logos/logo.png">
        <span class="title">达州烟草微信平台</span>
      </a>
    </div>

    <!-- <p class="desc">您现在使用的是免费开源版本；欢迎到
      <a href="http://www.52abp.com/" target="_blank">52ABP.COM</a>了解更多的框架信息
    </p>-->

    <div *ngIf="showTenantChange()">
      <tenant-change></tenant-change>
    </div>

  </div>

  <router-outlet></router-outlet>

  <br>
  <!--<account-languages></account-languages>-->

  <global-footer [links]="links">
    Copyright
    <i class="anticon anticon-copyright"></i> {{currentYear}}
    <a href="http://sc.tobacco.com.cn/nportal/portal/s/DZ" target="_blank">达州烟草</a>
  </global-footer>

</div>