<page-header [title]="title">
  <nz-card [nzBordered]="false">
    <nz-steps [nzCurrent]="projectStatus.indexOf(project.statusName)" nzProgressDot>
      <nz-step *ngFor="let text of projectStatus" [nzTitle]="text">
      </nz-step>
    </nz-steps>
  </nz-card>
  <sv-container size="small" col="3">
    <sv label="项目名称">{{project.name}}</sv>
    <sv label="项目模式">{{project.modeName}}</sv>
    <sv label="收益比例">{{project.profitRatio}}</sv>
    <sv label="过单费用(元)">{{project.billCost}}</sv>
    <sv label="项目分类">{{project.type}}</sv>
    <sv label="所属客户">{{project.customerName}}</sv>
    <sv label="负责人">{{project.employeeName}}</sv>
    <sv label="开始日期">{{project.startDate|date:'yyyy-MM-dd HH:mm:ss'}}</sv>
    <sv label="结束日期">{{project.endDate|date:'yyyy-MM-dd HH:mm:ss'}}</sv>
    <sv label="所属年">{{project.year}}</sv>
    <sv label="预算金额(元)">{{project.budget}}</sv>
  </sv-container>
  <sv-container size="small" col="1">
    <sv label="项目描述">{{project.desc}}</sv>
  </sv-container>
</page-header>
<nz-card [nzBordered]="false" nzTitle="项目明细" class="mb-lg">
  <form nz-form [nzLayout]="'inline'" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <!-- <div nz-col [nzSpan]="6">
      <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="type">明细分类</nz-form-label>
      <nz-form-control [nzSm]="16">
        <nz-select name="type" style="width: 100%;" [(ngModel)]="projectDetailSearch.type" nzPlaceHolder="请选择分类">
          <nz-option *ngFor="let i of projectDetailType" [nzLabel]="i.text" [nzValue]="i.value">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name">商品或服务名称</nz-form-label>
      <nz-form-control [nzSm]="16">
        <input nz-input name="name" [(ngModel)]="projectDetailSearch.name" nzSize="default"
          [placeholder]="'请输入商品或服务名称'">
      </nz-form-control>

    </div> -->
      <div nz-col [nzSpan]="24" style="text-align: right">
        <!-- <button nz-button (click)="getProjectDetails()" nzType="primary">
        查询
      </button>
      <button nz-button type="reset" (click)="refreshProjectDetails()" class="mx-sm">重置</button> -->
        <button nz-button (click)="createProjectDetail()" nzType="primary">
          <i class="anticon anticon-plus"></i>
          <span>新建</span>
        </button>
      </div>
    </div>
  </form>
  <!-- <ng-template #totalContentMe>共{{query.total}}条</ng-template> -->
  <nz-table #nzprojectDetailTable [nzData]="query.dataList" [nzFrontPagination]="false" [nzTotal]="query.total"
    [nzLoading]="projectDetailLoading" [nzShowTotal]="'true'" [nzShowSizeChanger]="true" [nzShowPagination]="false">
    <thead nz-thead>
      <tr>
        <th nz-th>
          <span>商品/服务名称</span>
        </th>
        <th nz-th>
          <span>明细分类</span>
        </th>
        <th nz-th>
          <span>规格型号</span>
        </th>
        <th nz-th>
          <span>单位</span>
        </th>
        <th nz-th style="text-align: right">
          <span>数量</span>
        </th>
        <th style="text-align: right">
          <span>销售单价(元)</span>
        </th>
        <th style="text-align: right">
          <span>总金额(元)</span>
        </th>
        <th style="text-align: center">
          <span>操作</span>
        </th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let item of nzprojectDetailTable.data">
        <td nz-td>{{item.name}}</td>
        <td nz-td>{{item.type}}</td>
        <td nz-td>{{item.specification}}</td>
        <td nz-td>{{item.unit}}</td>
        <td nz-td style="text-align: right">{{item.num}} </td>
        <td nz-td style="text-align: right">{{item.price}} </td>
        <td nz-td style="text-align: right">{{item.totalSum}} </td>
        <td nz-td style="text-align: center">
          <a *ngIf="item.id!='00000000-0000-0000-0000-000000000000'" (click)="editProjectDetail(item.id)">编辑</a>
          <span *ngIf="item.id!='00000000-0000-0000-0000-000000000000'" nz-table-divider></span>
          <nz-divider *ngIf="item.id!='00000000-0000-0000-0000-000000000000'" nzType="vertical"></nz-divider>
          <a *ngIf="item.id!='00000000-0000-0000-0000-000000000000'" style="color:#ff4d4f;"
            (click)="deleteProjectDetail(item)">删除</a>
          <span *ngIf="item.id!='00000000-0000-0000-0000-000000000000'" nz-table-divider></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<app-paymentplan [projectId]="id"></app-paymentplan>
<nz-card [nzBordered]="false">
  <nz-tabset nzSize="large">
    <nz-tab nzTitle="招标">
      <app-tender [projectId]="id"></app-tender>
    </nz-tab>
    <nz-tab nzTitle="采购">
      <app-purchase [projectId]="id"></app-purchase>
    </nz-tab>
    <nz-tab nzTitle="合同">
      <app-contract [projectId]="id"></app-contract>
    </nz-tab>
    <!-- <nz-tab nzTitle="回款计划"></nz-tab> -->
    <nz-tab nzTitle="发票">
      <app-invoice [projectId]="id"></app-invoice>
    </nz-tab>
    <nz-tab nzTitle="报销">
      <app-reimburse [projectId]="id"></app-reimburse>
    </nz-tab>
    <nz-tab nzTitle="工时">
      <app-timesheet [projectId]="id"></app-timesheet>
    </nz-tab>
  </nz-tabset>
  <footer-toolbar>
    <button nz-button [nzType]="'default'" (click)="return()">
      返回
    </button>
  </footer-toolbar>
</nz-card>