<page-header title="{{title}}">
</page-header>
<nz-card [nzBordered]="false">
  <nz-steps [nzCurrent]="projectStatus.indexOf(project.statusName)" nzProgressDot>
    <nz-step *ngFor="let text of projectStatus" [nzTitle]="text" (click)="step($event)" style="cursor: pointer;">
    </nz-step>
  </nz-steps>
  <!-- <page-header title="{{projectTitle}}" [action]="extraTemplate">
    <ng-template #extraTemplate>
      <button nz-button type="button" class="button-gray" *ngIf="project.status==2" (click)="loseOrder()">丢单</button>
      <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">保存</button>
      <button nz-button type="button" class="button-green" *ngIf="project.status==1" (click)="submit()">去立项</button>
      <button nz-button type="button" class="button-green" *ngIf="project.status==2" (click)="submit()">完成立项</button>
    </ng-template>
  </page-header> -->
  <!--(voted)="voted($event)"  -->
  <app-modify-project [projectId]="id" [prjectName]="loseOrder" (voted)="voted($event)"
    (updateStep)="updateStep($event)" *ngIf="loseOrder=='线索'||loseOrder=='立项'">
  </app-modify-project>
  <app-tender [projectId]="id" [projectName]="project.name" [projectStatus]="project.status"
    [projectCode]="project.projectCode" (updateStep)="updateStep($event)" *ngIf="loseOrder=='招标'"></app-tender>
  <app-contract [projectId]="id" [projectName]="project.name" [projectStatus]="project.status"
    [projectCode]="project.projectCode" (updateStep)="updateStep($event)" *ngIf="loseOrder=='执行' || loseOrder=='已完成'">
  </app-contract>
  <div class="modal-footer">
    <button nz-button type="button" [disabled]="saving" (click)="goBack()">
      返回
    </button>
  </div>
</nz-card>