<nz-tabset nzSize="large" (nzSelectChange)="change($event)">
  <nz-tab nzTitle="项目" (nzClick)="projects.getData()">
    <app-create-or-update-project [id]="id" #projects (voted)="ngOnInit()"></app-create-or-update-project>
  </nz-tab>
  <nz-tab nzTitle="招标" [nzDisabled]="project.status>=2?false:true">
    <app-tender [projectId]="id" *ngIf="tenderShow" (voted)="ngOnInit()" [projectStatus]="project.status">
    </app-tender>
  </nz-tab>
  <nz-tab nzTitle="合同" [nzDisabled]="project.status>=3?false:true">
    <app-contract [projectId]="id" *ngIf="contractShow" (voted)="ngOnInit()" [projectStatus]="project.status">
    </app-contract>
  </nz-tab>
  <nz-tab nzTitle="回款计划" [nzDisabled]="project.status>=4?false:true">
    <app-paymentplan [projectId]="id" *ngIf="paymentplanShow" (voted)="ngOnInit()" [projectStatus]="project.status">
    </app-paymentplan>
  </nz-tab>
  <nz-tab nzTitle="采购">
    <app-purchase [projectId]="id"></app-purchase>
  </nz-tab>
  <nz-tab nzTitle="发票">
    <app-invoice [projectId]="id"></app-invoice>
  </nz-tab>
  <nz-tab nzTitle="报销">
    <app-reimburse [projectId]="id"></app-reimburse>
  </nz-tab>
  <nz-tab nzTitle="工时">
    <app-timesheet [projectId]="id"></app-timesheet>
  </nz-tab>
</nz-tabset>
<footer-toolbar *ngIf="tabIndex!=0">
  <button nz-button [nzType]="'default'" (click)="return()">
    返回
  </button>
</footer-toolbar>
